*.[oda]
*EXAMPLE*
*example*
*~
cross-compile
*.[oda]
moc_*.cpp
ui_*.h
qrc_*.cpp
*.user
*.kdev*
*.bak
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.bin
*.sym



# special doc folders
Doc
archive

#archives
*.zip
*.rar
*.deb
*.tar.*
